.carousel .carousel-indicators li {
    width: 30px;
    height: 5px;
    border-radius: 0%
}



.carousel-caption
{
	bottom: 300px;
}


/*.carousel .carousel-indicators li {
    width: .625rem;
    height: .625rem;
    cursor: pointer;
    border-radius: 50%
}*/